/.vs/AspNetCoreWithMongo/v16/.suo
/src/Api/AspNetCoreWithMongo.Api/.vs/AspNetCoreWithMongo.Api/v16/.suo
/src/Api/AspNetCoreWithMongo.Api/.vs/AspNetCoreWithMongo.Api/DesignTimeBuild/.dtbcache.v2
/src/Api/AspNetCoreWithMongo.Api/bin/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.dll
/src/Api/AspNetCoreWithMongo.Api/bin/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.exe
/src/Api/AspNetCoreWithMongo.Api/bin/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.pdb
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.assets.cache
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.csproj.CoreCompileInputs.cache
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.csprojAssemblyReference.cache
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.dll
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.exe
/src/Api/AspNetCoreWithMongo.Api/obj/Debug/netcoreapp3.1/AspNetCoreWithMongo.Api.pdb
